<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ThemeProvider>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </ThemeProvider>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    Theme theme = new Theme
        {
            Colors = new Colors
            {
                Primary = "#000"
            }

        };
}
